:root {
    --color-header-bg: black;
    --color-main-bg: darkslategray;
    --color-text: white;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}

body {
    background-color: var(--color-main-bg);
    color: var(--color-text);
}

header {
    background: var(--color-header-bg);
    text-align: center;
    height: 10vh;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

.game-section {
    text-align: center;
    padding: 30px 10vw;
    background-image: url("./images/megman-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.game-panel {
    width: 70vw;
    margin: 0 auto;
    border-radius: 30px;
    background-color: rgba(7, 0, 102, 0.7);
    padding: 20px 0;
}

.btns {
    display: flex;
    justify-content: center;    
    gap: 75px;
    padding: 25px 0;
    margin: 25px 0;
    border-top: 4px solid var(--color-text);
    border-bottom: 4px solid var(--color-text);
}

.btn {
    border: 6px solid blue;
    border-radius: 10px;
    transition: all 0.2s;
}

.btn:hover {
    transform: scale(1.2);
}

.btn img {
    max-width: 150px;
}

.scores {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 4px solid var(--color-text);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: var(--color-header-bg);
}